<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089553869009-oth5mp0bo84bl8f75icb3t2hb284om4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089553869009-oth5mp0bo84bl8f75icb3t2hb284om4b</string>
	<key>API_KEY</key>
	<string>AIzaSyCo0qiRbX-pTNHkQY6vhhic6idFKBlOPMo</string>
	<key>GCM_SENDER_ID</key>
	<string>1089553869009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pk.FlashChatMessenger</string>
	<key>PROJECT_ID</key>
	<string>flashchatmessenger-f767b</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatmessenger-f767b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089553869009:ios:10eb95e047a00226997df0</string>
</dict>
</plist>